.description {
    padding: 0 10px;
    color: #a7a7a7;
    font-family: "Roboto Slab", serif;
    word-break: break-all;
    text-align: left;
    margin: 4px 0 0 0;
    /* border: 0.5px #646464 solid; */
  }
  