#month-name{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: red;
}

#day-number{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: rgb(133, 118, 118);
}

#year{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;    
    margin-bottom: 0.5rem;
    color: rgb(8, 8, 8); 

}